<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4445781280689625"
  crossorigin="anonymous"
></script>

<!-- display -->
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4445781280689625"
  crossorigin="anonymous"
></script>
<ins
  class="adsbygoogle"
  style="display: block"
  data-ad-format="auto"
  data-ad-layout-key="-6t+ed+2i-1n-4w"
  data-ad-client="ca-pub-4445781280689625"
  data-ad-slot="1985946929"
></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
